<template>
  <div class="nav">
    <el-menu
      class="el-menu-demo"
      mode="horizontal"
    >
      <el-menu-item
        index="1"
        class="logo"
        style="font-size: 20px; color: #000"
        >MYSTORE</el-menu-item
      >
      <el-menu-item index="2">
        <a
          href="https://www.ele.me"
          target="_blank"
          style="text-decoration: none"
          >MEN</a
        >
      </el-menu-item>
      <el-menu-item index="3">
        <a
          href="https://www.ele.me"
          target="_blank"
          style="text-decoration: none"
          >WOMEN</a
        >
      </el-menu-item>
      <el-submenu index="4">
        <template slot="title">Kids</template>
        <el-menu-item index="2-1">Boys</el-menu-item>
        <el-menu-item index="2-2">Girls</el-menu-item>
      </el-submenu>
      <el-menu-item index="5">
        <a
          href="https://www.ele.me"
          target="_blank"
          style="text-decoration: none"
          >ACCESSORIES</a
        >
      </el-menu-item>
      <el-menu-item index="5">
        <a
          href="https://www.ele.me"
          target="_blank"
          style="text-decoration: none"
          >BRANDS</a
        >
      </el-menu-item>
    </el-menu>
  </div>
</template>

<script>
export default {};
</script>

<style>
/* @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,100&display=swap');
/* .logo{
  font-family: 'Raleway', sans-serif;
} */
.logo{
font-family: 'Lato', sans-serif;
}
.nav {
  padding: 0;
  margin: 0;
}
</style>